# Ignore everything in data/ except the folder itself
data/*
!data/.gitkeep

# Ignore everything in experiments/ subfolders except the folders themselves
experiments/logs/*
!experiments/logs/.gitkeep

experiments/checkpoints/*
!experiments/checkpoints/.gitkeep

# Python
__pycache__/
*.pyc

# Output files
visualizations/
*.mp4
*.csv

# Jupyter
.ipynb_checkpoints/