data/*
!data/
!data/.gitkeep

experiments/*
!experiments/

!experiments/logs/
!experiments/checkpoints/

experiments/logs/*
experiments/checkpoints/*

!experiments/logs/.gitkeep
!experiments/checkpoints/.gitkeep


__pycache__/
*.pyc

visualizations/
*.mp4
*.csv

.ipynb_checkpoints/