# Ignore everything in data/ except the folder itself
data/*
!data/.gitkeep

# Ignore everything in experiments/ subfolders except the folders themselves
experiments/logs/*
!experiments/logs/.gitkeep

experiments/checkpoints/*
!experiments/checkpoints/.gitkeep

# Python
__pycache__/
*.pyc

# Output files
visualizations/
*.mp4
*.csv

# Jupyter
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
*.egg-info/
*.eggs/
*.ruff_cache/

# Checkpoints folder
ckpt/

# Data folder
data/

# TensorBoard logs
events.out.tfevents.*
eval_logs/
runs/
logs/

# Ignore all JPGs in tests
src/tests/**/*.png
src/tests/**/*.jpg
src/tests/**/*.jpeg
